
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

.productPanel{
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0), 10, 0,-100,0);
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}


.largeText{
    -fx-font-size: 3em;
}

.mediumText{
    -fx-font-size: 1.5em;
}

.smallText{
    -fx-font-size: 0.8em;
}

.dropShadow{
    -box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.searchButton {
    -fx-focus-color: transparent;
    -fx-background-color: #a69e9e;
}
.hovereffect:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.minknapp{
    -fx-text-fill: black;
}
.minknapp:hover {
    -fx-background-color: #5c588c;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 35;
}

.minknapp:pressed{
    -fx-background-color: #332f68;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

.navbar{
    -fx-font-size: 23;
}

.navbar:hover{
    -fx-font-size: 23;
}

.navbar:pressed {
    -fx-font-size: 23;
    -fx-background-color: #A18E8e;
}

.inderPog {
    -fx-font-family: "Inder";
}

.pacifico{
    -fx-font-family: 'Pacifico', cursive;
}

.productItem {
    -fx-font-family: "Martel";
    -fx-font-size: 30;
    -fx-font-weight: 100;
}

.my-button {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 100px;
    outline: none;
    background: #b71540;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.my-button:hover {
    background: #eb2f06;
}

.hearth{
    -fx-shape: "M340.8,98.4c50.7,0,91.9,41.3,91.9,92.3c0,26.2-10.9,49.8-28.3,66.6L256,407.1L105,254.6c-15.8-16.6-25.6-39.1-25.6-63.9,c0-51,41.1-92.3,91.9-92.3c38.2,0,70.9,23.4,84.8,56.8C269.8,121.9,302.6,98.4,340.8,98.4 M340.8,83C307,83,276,98.8,256,124.8,c-20-26-51-41.8-84.8-41.8C112.1,83,64,131.3,64,190.7c0,27.9,10.6,54.4,29.9,74.6L245.1,418l10.9,11l10.9-11l148.3-149.8,c21-20.3,32.8-47.9,32.8-77.5C448,131.3,399.9,83,340.8,83L340.8,83z";
    -fx-background-color: #b7b7b7;
}
.like{
    -fx-background-color: #ff8989;
    -fx-shape: "M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2,c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z";
}
