
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

.productPanel{
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0), 10, 0,0,0);
}

.largeText{
    -fx-font-size: 3em;
}

.mediumText{
    -fx-font-size: 1.5em;
}

.smallText{
    -fx-font-size: 0.8em;
}

.dropShadow{
    -box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.searchButton {
    -fx-focus-color: transparent;
    -fx-background-color: #a69e9e;
}
.hovereffect:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.minknapp{
    -fx-text-fill: black;
}
.minknapp:hover {
    -fx-background-color: #5c588c;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 35;
}

.minknapp:pressed{
    -fx-background-color: #332f68;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

.inderPog {
    -fx-font-family: "Inder";
}

.pacifico{
    -fx-font-family: 'Pacifico', cursive;
}

.my-button {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 100px;
    outline: none;
    background: #b71540;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.my-button:hover {
    background: #eb2f06;
}